<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pathfinding Visualization</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="App">
      <header class="App-header">
        <div class="button-container">
          <button id="generate-button">Generate New Maze</button>
          <button id="solve-button">Solve</button>
          <label>
            Single Path
            <input type="checkbox" id="singlePath" name="singlePath" />
          </label>
          <label>
            Maze Size
            <input type="range" id="mazeSize" name="mazeSize" min="10" max="100" step="10" value="50" />
            <span id="mazeSizeValue">50</span>
          </label>
        </div>
        <div id="metrics-table-container">
          <table id="metrics-table">
            <thead>
              <tr>
                <th>Algorithm</th>
                <th>Time (ns)</th>
                <th>Visited Nodes</th>
                <th>Visited Percentage</th>
                <th>Path Length</th>
                <th>Memory Used (MB)</th>
              </tr>
            </thead>
            <tbody>
              <!-- Metrics will be injected here -->
            </tbody>
          </table>
        </div>
        <div id="grid-container" class="grid-container">
          <!-- Grids will be injected here -->
        </div>
      </header>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>